.search-page {

    text-align: center;

    button {
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.281);
        border: unset;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.596);
            color: black;
        }
    }

    .like-btn {
        margin-top: 20px;
        color: white;

        &:hover {
            cursor: pointer;
            color: rgb(187, 187, 187);
        }
    }

    h1 {
        color: white;
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;
        font-size: rem(30px);
    }

    form {
        width: fit-content;
        margin: auto;
        gap: 5px;

        ::-webkit-input-placeholder {
            color:    white;
        }
        :-moz-placeholder { 
           color:    white;
           opacity:  1;
        }
        ::-moz-placeholder { 
           color:    white;
           opacity:  1;
        }
        :-ms-input-placeholder { 
           color:    white;
        }
        ::-ms-input-placeholder { 
           color:    white;
        }
        
        ::placeholder { 
           color:    white;
        }

        input {
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid black;
            color: white;
        }

       
    }
}